#  conditions

In [ ]:
# if,else,elif,nested if
# conditon can use operators

In [14]:

# create a if statementa=100
a=400
b=20000
if a>b:
    print('a is greater than b')

a is greater than b

In [15]:
# if else
a=5000
b=100
if a<b:
    print('a is small to b')
else:
    print('a is big to b')

a is big to b

In [16]:
# if, elif,else
a=50
b=50
if a>b:
    print('a is big to b')
elif a==b:
    print(' a nd b are equal')
else:
    print('a is small to b')

 a nd b are equal

In [5]:
# task
a=100
b=20
c=30
if a>b and a>c:
    print('a is big to b,c')
elif b>c and b>a:
    print('b is big to c,a')
elif c>a and c>b:
    print('c is big to b,a')
else:
    print('a,b,c is equal')

c is big to b,a

In [20]:
a=50
b=40
if a>b and b==50:
    print('ok')
else:
    print('not ok')

not ok

In [21]:
a=50
b=40
if a>b or b==50:
    print('ok')
else:
    print('not ok')

ok

In [25]:
a=50
b=40
if not b==50:
    print('ok')
else:
    print('not ok')

ok

In [26]:
# short hand if
a=50
b=90
'''if a<b:
    print(f'{a} is small to {b}')'''
if a<b:  print(f'{a} is small to {b}')

50 is small to 90

In [28]:
a=50
b=90
if a<b: print(a,"is small to",b)

50 is small to 90

In [27]:
# short hand if else
a=500
b=90
'''if a<b:
    print(f'{a} is small to {b}')
else:
    print(f'{a} is big to {b}')'''
print(f'{a} is small to {b}') if a<b else print(f'{a} is big to {b}')

500 is big to 90

In [30]:
# nested if
x=100
if x>25:
    print('x is big')
    if x>35:
        print('x is big')
        if x>40:
            print('x is big')
            if x>400:
                print('big')
            else:
                print('x is less')
else:
    print('not big')

not big

In [36]:
a=int(input('enter a number'))
if a>=18:
    print('eligible')
else: print('not eligible')

enter a number18
eligible

# loops

In [15]:
# for loops
a=[1,2,3,4,5,6]
for i in a:
    print(i)

1
2
3
4
5
6

In [16]:
for i in 'siva':
    print(i)

s
i
v
a

In [20]:
# continue
fruits=['apple','mango','cherry','banana']
for i in fruits:
    if i=='apple':
        continue
    print(i)

mango
cherry
banana

In [22]:
# break
fruits=['apple','mango','cherry','banana']
for i in fruits:
    if i=='cherry':
        break
    print(i)

apple
mango

In [23]:
# pass
fruits=['apple','mango','cherry','banana']
for i in fruits:
    if i=='cherry':
        pass
    print(i)

apple
mango
cherry
banana

In [24]:
# for in even
a=[1,2,3,4,5,6,7,8,9,0]
for i in a:
    if i%2==0:
        print(i,'even')
    else:
        print(i,'odd')

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
0 even

In [33]:
# while
a=10
i=0
while i<a:
    if i%2==0:
        print(i,'even')
    else:
        print(i,'odd')
        
    i=i+1

0 even
1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd

In [34]:
i=0
while i<=50:
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [35]:
# nested for
a=[1,2,3,4,5]
b=['apple','mango','cherry','banana','orange']
for i in a:
    for j in b:
        print(i,j)

1 apple
1 mango
1 cherry
1 banana
1 orange
2 apple
2 mango
2 cherry
2 banana
2 orange
3 apple
3 mango
3 cherry
3 banana
3 orange
4 apple
4 mango
4 cherry
4 banana
4 orange
5 apple
5 mango
5 cherry
5 banana
5 orange

In [7]:
d={1:'siva',2:'chinna',3:'manoj'}
for i in d:
    print(i)

1
2
3

In [8]:
d={1:'siva',2:'chinna',3:'manoj'}
for i in d:
    print(d[i])
for i in d.values():
    print(i)

siva
chinna
manoj
siva
chinna
manoj

In [14]:
d={1:'siva',2:'chinna',3:'manoj'}
for i in d.items():
    print(i)

(1, 'siva')
(2, 'chinna')
(3, 'manoj')

In [28]:
s={1,2,4,56,7}
for i in s:
    print(i)

1
2
4
7
56

In [4]:
a=50
i=1
while i<a:
    if a%i==0:
        print(i)
    i=i+1

1
2
5
10
25