#  dictionary
--> Dictionaries are used to store data values in key:value pairs.

--> A dictionary is a collection which is ordered*, changeable and do not allow duplicates.
-->Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

In [1]:
# create a empty dic
a={}
print(a,type(a))

{} <class 'dict'>

In [3]:
# create a dic
dic={1:'apple',
    2:'mang0',
    3:"cherry"}
print(dic)

{1: 'apple', 2: 'mang0', 3: 'cherry'}

In [4]:
# create a dic in same values in single key
employ={"name":"cinna",
       "company":'tcs',
       "year":2017,
       "year":2023}
print(employ)

{'name': 'cinna', 'company': 'tcs', 'year': 2023}

In [13]:
#The values in dictionary items can be of any data type:
data={
    'names': ['siva','chinna','kavi'],
     'company':['tcs','hp','inofotech'],
     'branch':('mech','bsc','bcom'),
     'check':True
}
print(data)

{'names': ['siva', 'chinna', 'kavi'], 'company': ['tcs', 'hp', 'inofotech'], 'branch': ('mech', 'bsc', 'bcom'), 'check': True}

In [16]:
# constructor
# in construction donot use quotes('') for key and also a (:)
a=dict(name="siva",palce='ktc')
print(a,type(a))

{'name': 'siva', 'palce': 'ktc'} <class 'dict'>

In [17]:
# update
dic={1:'apple',
    2:'mang0',
    3:"cherry"}
dic[4]='orange'
dic[5]='banana'
print(dic)

{1: 'apple', 2: 'mang0', 3: 'cherry', 4: 'orange', 5: 'banana'}

In [18]:
dic[6]='pine apple'
print(dic)

{1: 'apple', 2: 'mang0', 3: 'cherry', 4: 'orange', 5: 'banana', 6: 'pine apple'}

In [19]:
# call for key 
dic.keys()

dict_keys([1, 2, 3, 4, 5, 6])

In [20]:
# call for value
dic.values()

dict_values(['apple', 'mang0', 'cherry', 'orange', 'banana', 'pine apple'])

In [32]:
# # call for key to value
dic[1]
#k=dic.get(2)
#print(k)

'apple'

In [25]:
# call for values to key [it donot possible]
dic['apple']

KeyError: 'apple'

In [33]:
# iteams
dic.items()

dict_items([(1, 'apple'), (2, 'mang0'), (3, 'cherry'), (4, 'orange'), (5, 'banana'), (6, 'pine apple')])

In [34]:
# change dict
dic={1: 'apple', 2: 'mang0', 3: 'cherry', 4: 'orange', 5: 'banana'}
dic[5]='pine apple'
print(dic)

{1: 'apple', 2: 'mang0', 3: 'cherry', 4: 'orange', 5: 'pine apple'}

In [35]:
# update
dic={1: 'apple', 2: 'mang0', 3: 'cherry', 4: 'orange', 5: 'banana'}
dic.update({6:'siva',7:'chinna'})
print(dic)

{1: 'apple', 2: 'mang0', 3: 'cherry', 4: 'orange', 5: 'banana', 6: 'siva', 7: 'chinna'}

In [5]:
dic={1: 'apple', 2: 'mang0', 3: 'cherry', 4: 'orange', 5: 'banana'}
# pop
dic.pop(5)

'banana'

In [7]:
dic={1: 'apple', 2: 'mang0', 3: 'cherry', 4: 'orange', 5: 'banana'}
# del
del dic[4]
print(dic)

{1: 'apple', 2: 'mang0', 3: 'cherry', 5: 'banana'}

In [8]:
dic={1: 'apple', 2: 'mang0', 3: 'cherry', 4: 'orange', 5: 'banana'}
# clear
dic.clear()
print(dic)

{}

In [17]:
# loop call for keys
dic={1: 'apple', 2: 'mang0', 3: 'cherry', 4: 'orange', 5: 'banana'}
for i in dic:
    print(i)
'''for i in dic.keys():
    print(i)'''

1
2
3
4
5

'for i in dic.keys():\n    print(i)'

In [19]:
# loop call for values
for i in dic:
    print(dic[i])
'''for i in dic.values():
    print(i)'''

apple
mang0
cherry
orange
banana

'for i in dic.values():\n    print(i)'

In [20]:
# nested dic
n_dic={'siva':{1:'mango',
              2:'jackfruit'},
      'chinna':{1:'apple',
               2:'banana'},
      'rasul':{1:'orange',
              2:'cherry'}}
print(n_dic)

{'siva': {1: 'mango', 2: 'jackfruit'}, 'chinna': {1: 'apple', 2: 'banana'}, 'rasul': {1: 'orange', 2: 'cherry'}}

In [25]:
n_dic['chinna'][2]

'banana'

In [26]:
ndict = {
    "quiz": {
        "sport": {
            "q1": {
                "question": "Which one is correct team name in NBA?",
                "options": [
                    "New York Bulls",
                    "Los Angeles Kings",
                    "Golden State Warriros",
                    "Huston Rocket"
                ],
                "answer": "Huston Rocket"
            }
        },
        "maths": {
            "q1": {
                "question": "5 + 7 = ?",
                "options": [
                    "10",
                    "11",
                    "12",
                    "13"
                ],
                "answer": "12"
            },
            "q2": {
                "question": "12 - 8 = ?",
                "options": [
                    "1",
                    "2",
                    "3",
                    "4"
                ],
                "answer": "4"
            }
        }
    }
}