In [5]:
# create a empty list
list=[]
print(list)

[]

In [8]:
# create a list
list=[1,'siva',True,1.0,2+5j]
print(list,type(list))

[1, 'siva', True, 1.0, (2+5j)] <class 'list'>

In [12]:
# create a bulit in fun [tuple,string,dict]
# convert into tuple
list=tuple([1,2,3])
print(list,type(list))
# convert into set
list=set([1,2,3])
print(list,type(list))
# convert into dict
list=dict([1,2,3])
print(list,type(list))

(1, 2, 3) <class 'tuple'>
{1, 2, 3} <class 'set'>

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [13]:
dict={}
print(dict,type(dict))

{} <class 'dict'>

In [14]:
list=[]
print(list,type(list))

[] <class 'list'>

In [15]:
tuple=()
print(tuple,type(tuple))

() <class 'tuple'>

In [1]:
a=set()
print(a,type(a))

set() <class 'set'>

In [2]:
# ordered
names=['siva','chinna','rasul']
print(names)

['siva', 'chinna', 'rasul']

In [6]:
# changeable
# single value
list=['siva','apple','pen']
print('before change',list)
list[1]='chinna'
print('after change',list)
# multiple values
list_m=['siva','apple','pen',1,2,7,8,9]
print('before change',list_m)
list_m[0:3]=100,99,78
print('after change',list_m)

before change ['siva', 'apple', 'pen']
after change ['siva', 'chinna', 'pen']
before change ['siva', 'apple', 'pen', 1, 2, 7, 8, 9]
after change [100, 99, 78, 1, 2, 7, 8, 9]

In [8]:
# allow the duplicates
iteams=['pen','book','bag','Pen']
print(iteams)

['pen', 'book', 'bag', 'Pen']

In [9]:
# len
list=[1,'siva',5,7,8,5,7,4,5,1,2,6,5,4,7,85,4,1,2,3,8]
len(list)

21

In [10]:
# out of range
list=[1,'siva',5,7,8,5,7,4,5,1,2,6,5,4,7,85,4,1,2,3,8]
list[21]='chinna'
print(list)

IndexError: list assignment index out of range

In [11]:
# access iteam
list=[1,'siva',5,7,8,5,7,4,5,1,2,6,5,4,7,85,4,1,2,3,8]
list[15]

85

In [16]:
# index
list=[1,'siva',5,7,8,5,7,4,5,1,2,6,5,4,7,85,4,1,2,3,8]
# pos
a=list[1]
print(a)
# neg
b=list[-1]
print(b)

siva
8

In [5]:
# range or sclicing
list=[1,5,7,8,5,7,4,5,1,2,6,5,4,7,85,4,1,2,3,8]
print(list[:])
print(list[:-2])
print(list[::-1])
print(list[1:5:1])
print(list[:5:1])
print(list[1:5:])
print(list[:-1])
print(list[-2::-1])

[1, 5, 7, 8, 5, 7, 4, 5, 1, 2, 6, 5, 4, 7, 85, 4, 1, 2, 3, 8]
[1, 5, 7, 8, 5, 7, 4, 5, 1, 2, 6, 5, 4, 7, 85, 4, 1, 2]
[8, 3, 2, 1, 4, 85, 7, 4, 5, 6, 2, 1, 5, 4, 7, 5, 8, 7, 5, 1]
[5, 7, 8, 5]
[1, 5, 7, 8, 5]
[5, 7, 8, 5]
[1, 5, 7, 8, 5, 7, 4, 5, 1, 2, 6, 5, 4, 7, 85, 4, 1, 2, 3]
[3, 2, 1, 4, 85, 7, 4, 5, 6, 2, 1, 5, 4, 7, 5, 8, 7, 5, 1]

In [9]:
# insert
list=['siva',1,28,7,5,9,4,5]
list[8:]='kavi','rasul','cinna'
print(list)

['siva', 1, 28, 7, 5, 9, 4, 5, 'kavi', 'rasul', 'cinna']

In [14]:
# append
list=['siva',1,28,7,5,9,4,5]
list.append(100)
print(list)

['siva', 1, 28, 7, 5, 9, 4, 5, 100]

In [26]:
# extend
list=['siva',1,28,7,5,9,4,5]
list.extend('siva')
print(list)
#
list1=[1,5,7,8,5,7,4,5,1,2,6,'siva','kavi',5,4,7,85,4,1,2,3,8]
list.extend(list1)
print(list)

['siva', 1, 28, 7, 5, 9, 4, 5, 's', 'i', 'v', 'a']
['siva', 1, 28, 7, 5, 9, 4, 5, 's', 'i', 'v', 'a', 1, 5, 7, 8, 5, 7, 4, 5, 1, 2, 6, 'siva', 'kavi', 5, 4, 7, 85, 4, 1, 2, 3, 8]

In [34]:
# sort
num=[15,8,77,4,5,8,11,55,4,2,1,0,0]
num.sort()
print(num)
# reverse
num1=[15,8,77,4,5,8,11,55,4,2,1,0,0]
num1.sort(reverse=True)
print(num1)

[0, 0, 1, 2, 4, 4, 5, 8, 8, 11, 15, 55, 77]
[77, 55, 15, 11, 8, 8, 5, 4, 4, 2, 1, 0, 0]

In [40]:
num=[15,8,77,4,5,8,11,55,4,2,1,0,0]
num.replace(0,'-')

AttributeError: 'list' object has no attribute 'replace'

In [48]:
n=[15,8,77,4,5,8,11,55,4,2,1,0,0]
for i in n:
    if n==0:
    print(i)
    else:
    print(i)

IndentationError: expected an indented block after 'if' statement on line 3 (3214986490.py, line 4)