In [ ]:
import mysql.connector
connection=mysql.connector.connect(
host='localhost',
user='root',
password='root@123',
database='mitraz',
)
#if connection.is_conneted():
   # print("ok")
cursor=connection.cursor()
try:
      if connection.is_connected():
        print("Connection to MySQL established.")
        while True:
            print('='*80)
            print('1.Insert\n2.Upadte\n3.Select\n4.Exist')
            print('='*80)
            choice=int(input('enter your choice: '))
            print('choice')
            if choice==1:
                ins='insert into custo values(%s,%s,%s,%s,%s,%s)'
                ins_value=(int(input("enter a id: ")),input('enter a name: '),int(input('enter a age: ')),input("enter a address: "),int(input("enter a salary: ")),input("enter a email: "))
                cursor.execute(ins,ins_value)
                connection.commit()
                print("Insertion successful!")
            elif choice==2:
                up='update custo set name=%s where id=%s'
                up_value=(input("enter a name: "),int(input('enter a id: ')))
                cursor.execute(up,up_value)
                connection.commit()
                print("update successful!")
            elif choice==3:
                query="select * from custo"
                cursor.execute(query)
                results=cursor.fetchall()
                for row in results:
                    print(row)
            elif choice==4:
                print("Exist")
                break
            else:
                print("out of choice")
except mysql.connector.Error as e:
    print("Error inserting record:", e)
except Exception as e:    
   print("Unexpected error:", e) 
finally:
    print('ok done')  
cursor.close()
connection.close()

Connection to MySQL established.
================================================================================
1.Insert
2.Upadte
3.Select
4.Exist
================================================================================

In [1]:
import mysql.connector
connection=mysql.connector.connect(
host='localhost',
user='root',
password='root@123',
database='mitraz',
)
try:
      if connection.is_connected():
            cursor=connection.cursor()
            print("Connection to MySQL established.")
            def ins():
                ins='insert into custo values(%s,%s,%s,%s,%s,%s)'
                ins_value=(int(input("enter a id: ")),input('enter a name: '),int(input('enter a age: ')),input("enter a address: "),int(input("enter a salary: ")),input("enter a email: "))
                cursor.execute(ins,ins_value)
                connection.commit()
                print("Insertion successful!")
            def up():
                up='update custo set name=%s where id=%s'
                up_value=(input("enter a name: "),int(input('enter a id: ')))
                cursor.execute(up,up_value)
                connection.commit()
                print("update successful!")
            def sel():
                query="select * from custo"
                cursor.execute(query)
                results=cursor.fetchall()
                for row in results:
                    print(row)
                
                
            while True:
                print('='*80)
                print('1.Insert\n2.Upadte\n3.Select\n4.Exist')
                print('='*80)
                choice=int(input('enter your choice: '))
                print('choice')
                if choice==1:
                    ins()
                   
                elif choice==2:
                    up()
               
                elif choice==3:
                    sel()
                    
                elif choice==4:
                    break
                else:
                    print("out of choice")
                    break
                
except mysql.connector.Error as e:
    print("Error inserting record:", e)
except Exception as e:
    print("Unexpected error:", e) 
    
finally:
    if connection.is_connected():
        print('ok done')  
cursor.close()
connection.close()

Connection to MySQL established.
================================================================================
1.Insert
2.Upadte
3.Select
4.Exist
================================================================================
choice
(1, 'siva', 22, 'ktc', Decimal('26000.00'), 'siva@123')
(2, 'sai', 19, 'atp', Decimal('36000.00'), 'kavi@123')
(3, 'chinna', 23, 'ptp', Decimal('3600.00'), 'chinna@123')
(4, 'tan', 15, 'ktm', Decimal('31000.00'), 'ravi@123')
(5, 'vishnu', 20, 'dmm', Decimal('3500.00'), 'vishnu@123')
(6, 'rasul', 23, 'atp', Decimal('5000.00'), 'rasul')
(7, 'ram', 25, 'kmm', Decimal('520000.00'), 'ram')
(8, 'ramesh', 30, 'dmm', Decimal('500000.00'), 'ram')
(13, 'sujatha', 30, 'ktc', Decimal('58222.00'), 'suji')
(500, 'chinna', 52, 'hh', Decimal('2525.00'), 'yu')
(501, 'kkk', 55, 'ktm', Decimal('528558.00'), 'ggg')
(502, 'nandha', 25, 'kjm', Decimal('52865.00'), 'gggg')
(503, 'kavi', 26, 'gtm', Decimal('23586.00'), 'rrrr')
(504, 'kavya', 26, 'atp', Decimal('56864.00'), 'jjj')
================================================================================
1.Insert
2.Upadte
3.Select
4.Exist
================================================================================
choice
(1, 'siva', 22, 'ktc', Decimal('26000.00'), 'siva@123')
(2, 'sai', 19, 'atp', Decimal('36000.00'), 'kavi@123')
(3, 'chinna', 23, 'ptp', Decimal('3600.00'), 'chinna@123')
(4, 'tan', 15, 'ktm', Decimal('31000.00'), 'ravi@123')
(5, 'vishnu', 20, 'dmm', Decimal('3500.00'), 'vishnu@123')
(6, 'rasul', 23, 'atp', Decimal('5000.00'), 'rasul')
(7, 'ram', 25, 'kmm', Decimal('520000.00'), 'ram')
(8, 'ramesh', 30, 'dmm', Decimal('500000.00'), 'ram')
(13, 'sujatha', 30, 'ktc', Decimal('58222.00'), 'suji')
(500, 'chinna', 52, 'hh', Decimal('2525.00'), 'yu')
(501, 'kkk', 55, 'ktm', Decimal('528558.00'), 'ggg')
(502, 'nandha', 25, 'kjm', Decimal('52865.00'), 'gggg')
(503, 'kavi', 26, 'gtm', Decimal('23586.00'), 'rrrr')
(504, 'kavya', 26, 'atp', Decimal('56864.00'), 'jjj')
================================================================================
1.Insert
2.Upadte
3.Select
4.Exist
================================================================================