1. Write a Python function to find the maximum of three numbers

In [26]:
def max(a,b,c):
    if a>b and a>c:
        print(a,'a is max of b,c')
    elif b>a and b>c:
        print(b,'b is max of a,c')
    elif c>b and c>a:
        print(c,'c is max of a,c')
    else:
        print("a,b,c are same")
a=int(input("enter a 1 num: "))
b=int(input("enter a 2 num: "))
c=int(input("enter a 3 num: "))
print(max(a,b,c))

enter a 1 num: 80
enter a 2 num: 100
enter a 3 num: 999
999 c is max of a,c
None

2. Write a Python function to sum all the numbers in a list.
Sample List : (8, 2, 3, 0, 7)
Expected Output : 20

In [33]:
def sum(l,c=0):
    for i in l:
        c=c+i
    print(c)
l=(8,2,3,0,7)
sum(l)

20

3. Write a Python function to multiply all the numbers in a list.
Sample List : (8, 2, 3, -1, 7)
Expected Output : -336

In [42]:
def sum(l,c=1):
    for i in l:
        c=c*i
    print(c)
l=(8,2,3,-1,7)
sum(l)

-336

4. Write a Python program to reverse a string.
Sample String : "1234abcd"
Expected Output : "dcba4321"

In [47]:
a="1234abcd"
print(a[::-1])

dcba4321

5. Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument.

In [5]:
def fact(a,c=1):
    for i in range(1,a+1):
        c=c*i
    print(c)
a=5
fact(a)

120

6. Write a Python function to check whether a number falls within a given range

In [11]:
def falls(b,c):
    if c in b :
        return "ok"
    else:
        return "not ok"   
a=int(input('enter a range: '))
b=range(a)
c=int(input("enter a num: "))    
falls(b,c)

enter a range: 500
enter a num: 1000

'not ok'

7. Write a Python function that accepts a string and counts the number of upper and lower case letters.
Sample String : 'The quick Brow Fox'
Expected Output :
No. of Upper case characters : 3
No. of Lower case Characters : 12

In [37]:
def char(a):
    u=0
    l=0
    for i in a:
        if i.isupper():
            u=u+1
        if i.islower():
            l=l+1
    print(u)
    print(l)
a='The quick Brow Fox'
char(a)

3
12

8. Write a Python function that takes a list and returns a new list with distinct elements from the first list.
Sample List : [1,2,3,3,3,3,4,5]
Unique List : [1, 2, 3, 4, 5]

In [48]:
def num(a):
    return list(set(a))
a=[1,2,3,3,3,3,4,5]
num(a)

[1, 2, 3, 4, 5]

9. Write a Python function that takes a number as a parameter and checks whether the number is prime or not.
Note : A prime number (or a prime) is a natural number greater than 1 and that has no positive divisors other than 1 and itself.

In [92]:
def test_prime(n):
    if (n==1):
        return "not prime"
    elif (n==2):
        return 'prime';
    else:
        for x in range(2,n):
            if(n % x==0):
                return 'not prime'
        return True             
print(test_prime(7))

True

10. Write a Python program to print the even numbers from a given list.
Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
Expected Result : [2, 4, 6, 8]

In [95]:
def even(l):
    for n in l:
        if n % 2 == 0:
            enum.append(n)
    return enum
enum = []
print(even([1, 2, 3, 4, 5, 6, 7, 8, 9]))

[2, 4, 6, 8]