1.Write a Python program that iterates the integers from 1 to 50.
 For multiples of three print "Three" instead of the number and for multiples of five print "Five". For numbers that are multiples of three and five, print "ThreeFive".

In [4]:
num=(int(input("enter a range: ")))
for i in range(num+1):
    if i%3==0:
        print(i,"three")
    elif i%5==0:
        print(i,"five")
    elif i%3==0 and i%5==0:
        print(i,'three and five')
    else:
        print(i,'not multiples by 3&5')

enter a range: 50
0 three
1 not multiples by 3&5
2 not multiples by 3&5
3 three
4 not multiples by 3&5
5 five
6 three
7 not multiples by 3&5
8 not multiples by 3&5
9 three
10 five
11 not multiples by 3&5
12 three
13 not multiples by 3&5
14 not multiples by 3&5
15 three
16 not multiples by 3&5
17 not multiples by 3&5
18 three
19 not multiples by 3&5
20 five
21 three
22 not multiples by 3&5
23 not multiples by 3&5
24 three
25 five
26 not multiples by 3&5
27 three
28 not multiples by 3&5
29 not multiples by 3&5
30 three
31 not multiples by 3&5
32 not multiples by 3&5
33 three
34 not multiples by 3&5
35 five
36 three
37 not multiples by 3&5
38 not multiples by 3&5
39 three
40 five
41 not multiples by 3&5
42 three
43 not multiples by 3&5
44 not multiples by 3&5
45 three
46 not multiples by 3&5
47 not multiples by 3&5
48 three
49 not multiples by 3&5
50 five

2.Write a Python program that accepts a string and calculates the number of digits and letters.

In [11]:
a='si1v2a3'
l=0
d=0
for i in a:
    if i.isalpha():
        l=l+1
    if i.isdigit():
        d=d+1
print('letter',l)
print('digit',d)

letter 4
digit 3

3.Write a python for loop to sort the numbers in a list in descending order

In [17]:
num=[1,9,13,7,5,6]
temp=0
for i in range(len(num)):
    for j in range(i+1,len(num)) :
        if num[i]<num[j]:
            temp=num[i]
            num[i]=num[j]
            num[j]=temp
print(num)

[13, 9, 7, 6, 5, 1]

4.Write a program to find a factorial of a number accepted from the user.
note:-factorial, in mathematics, the product of all positive integers less than or equal to a given positive integer and denoted by that integer and an exclamation point.
Thus, factorial seven is written 7!, meaning 1 × 2 × 3 × 4 × 5 × 6 × 7.

In [1]:
num=int(input('enter a number '))
fact=1
for i in range(1,num+1):
    fact=fact*i
print(fact)

enter a number 7
5040

5.Write a program to display the product of the digits of a number accepted from the user.

In [6]:
num = int(input("enter a number "))

n = num

product = 1

while n != 0:

    rem = n % 10

    product = product * rem

    n = n // 10

print(product)

enter a number 123456
720

6.Write a program to display all the numbers which are divisible by 11 but not by 2 between 100 to 500

In [3]:
for num in range(100, 500+1):
    if num % 11 == 0 and num % 2 != 0 :
        print(num, end = " ")

121 143 165 187 209 231 253 275 297 319 341 363 385 407 429 451 473 495

List Comprehension

1.Given a list of numbers, remove all odd numbers from the list numbers = [3,5,45,97,32,22,10,19,39,43]

In [36]:
l=[3,5,45,97,32,22,10,19,39,43]
nl=[i for i in l if i%2==0]
print(nl)

[32, 22, 10]

2.Find all of the numbers from 1-1000 that are divisible by 7

In [37]:
a=int(input("enter a numbewr "))
n=[i for i in range(a) if i%7==0]
print(n)

enter a numbewr 1000
[0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

3.Count the number of spaces in a string

In [4]:
a="s i v a "
c=0
n=[c for i in a if i==' ']
print(len(n))
'''for i in a:
    if i==' ':
        c=c+1
print(c)'''

4

"for i in a:\n    if i==' ':\n        c=c+1\nprint(c)"

4.Get the index and the value as a tuple for items in the list “hi”, 4, 8.99, ‘apple’, (‘t,b’,’n’). Result would look like (index, value), (index, value)

In [32]:
my_list = ["hi", 4, 8.99, 'apple', ('t,b', 'n')]

result = [ i for i in enumerate(my_list)]

print(result)

[(0, 'hi'), (1, 4), (2, 8.99), (3, 'apple'), (4, ('t,b', 'n'))]

5.Find all of the words in a string that are less than 4 letters [Hint: Use split() to get the words from string]

In [35]:
l="Find all of the words in a string that are less"
v=l.split()
n=[i for i in v if len(i)<4]
print(n)

['all', 'of', 'the', 'in', 'a', 'are']