In [1]:
print('hello')

hello

In [2]:
# int types,id

a=10
print(type(a))
print(id(a))

<class 'int'>
1594488848912

In [4]:
a=2.0
print(type(a),id(a))

<class 'float'> 1594601208240

In [5]:
a=1+2j
print(type(a),id(a))

<class 'complex'> 1594601209456

In [6]:
a=True
print(type(a),id(a))

<class 'bool'> 140734936467664

In [ ]:
# case senctitive
12hi=5
print(12hi)

In [8]:
hi12=5
print(hi12)

5

In [9]:
@hi12=5
print(@hi12)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3958355746.py, line 1)

In [10]:
_hi12=5
print(_hi12)

5

In [11]:
#Arithmetic operator
# Add
a=int(input("enter a num1 "))
b=int(input('enter a num2 '))
c=a+b
print(c,type(c))

enter a num1 5
enter a num2 10
15 <class 'int'>

In [12]:
#sub
a=int(input("enter a num1 "))
b=int(input('enter a num2 '))
c=a-b
print(c,type(c))

enter a num1 5
enter a num2 5
0 <class 'int'>

In [13]:
#mul
a=int(input("enter a num1 "))
b=int(input('enter a num2 '))
c=a*b
print(c,type(c))

enter a num1 5
enter a num2 5
25 <class 'int'>

In [14]:
# Div
a=int(input("enter a num1 "))
b=int(input('enter a num2 '))
c=a/b
print(c,type(c))

enter a num1 5
enter a num2 5
1.0 <class 'float'>

In [15]:
# Flo Div
a=int(input("enter a num1 "))
b=int(input('enter a num2 '))
c=a//b
print(c,type(c))

enter a num1 5
enter a num2 5
1 <class 'int'>

In [16]:
# Mod
a=int(input("enter a num1 "))
b=int(input('enter a num2 '))
c=a%b
print(c,type(c))

enter a num1 5
enter a num2 5
0 <class 'int'>

In [17]:
# Seq
a=int(input("enter a num1 "))
b=int(input('enter a num2 '))
c=a+b
print(c,type(c))

enter a num1 5
enter a num2 5
3125 <class 'int'>

In [18]:
#Assignment
a=int(input("enter a num1 "))
a+=5
print(a)

enter a num1 10
15

In [19]:
a=int(input("enter a num1 "))
a=a+5
print(a)

enter a num1 10
15

In [20]:
a=int(input("enter a num1 "))
a-=5
print(a)

enter a num1 10
5

In [23]:
a=int(input("enter a num1 "))
a*=5
print(a)

enter a num1 10
50

In [24]:
a=int(input("enter a num1 "))
a/=5
print(a)

enter a num1 10
2.0

In [26]:
a=int(input("enter a num1 "))
a//=5
print(a)

enter a num1 10
2

In [27]:
a=int(input("enter a num1 "))
a%=5
print(a)

enter a num1 10
0

In [28]:
a=int(input("enter a num1 "))
a**=5
print(a)

enter a num1 10
100000

In [31]:
# Relational
a=int(input("enter a num1 "))
b=int(input('enter a num2 '))
a==b

enter a num1 10
enter a num2 10

True

In [32]:
a=int(input("enter a num1 "))
b=int(input('enter a num2 '))
a!=b

enter a num1 10
enter a num2 10

False

In [33]:
a=int(input("enter a num1 "))
b=int(input('enter a num2 '))
a<=b

enter a num1 5
enter a num2 2

False

In [34]:
a=int(input("enter a num1 "))
b=int(input('enter a num2 '))
a>=b

enter a num1 10
enter a num2 2

True

In [24]:
# logical
# or=^
a=10
b=20
if a<=b ^ a>=b:
    print('ok')

ok

In [25]:
# and =&
a=10
b=20
if a<=b & a>=b:
    print('ok')
else:
    print('not ok')

not ok

In [34]:
# NOT=!
a=10
b=20
not a!=20

False

In [9]:
a=10
b=20
not a==10

False

In [18]:
# membership 
l=[True,'siva',2,False]
0 in l

True

In [20]:
l=[True,'siva',2,False]
1 not in l

False

In [21]:
# Identity
a=10
type (a) is int

True

In [27]:
a=10
type (a) is not int

False

In [29]:
# bITWISE
# OR
20|40

60

In [30]:
# AND
120&135

0

In [31]:
# XOR
129^333

460

In [32]:
35<<2

140

In [33]:
100>>2

25

In [1]:
20&4

4

In [2]:
20|4

20

In [3]:
20^4

16

In [4]:
# string
# operator
# string is collection of data type and by using "",''(single or double ),it is immutable
a="iam in studying in ktc"
b=a.replace('i','a')
print(b)

aam an studyang an ktc

In [5]:
a="iam in studying in ktc"
b=a[0]
print(b)

i

In [7]:
s="hello world"
print(s[11])
print(s[-12])

IndexError: string index out of range

In [8]:
print(a)

iam in studying in ktc

In [14]:
a='hello world'
print(a[2:4])

ll

In [20]:
a="hello world"
b=a.split('e''j')
print(b)
print(a[2:4])
print(a[:8])
print(a[::-1])

TypeError: 'str' object cannot be interpreted as an integer

In [15]:
# string is immutable ,but can convert the string into list . by using joint repalce the string
l1=list(a)
print(l1)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [ ]:
l2=''.joint
pri