# sets
 it is unorder,unindex,unchangleable,donot allow duplicates

In [1]:
# create a set
set={1,2,3,4}
print(set,type(set))

{1, 2, 3, 4} <class 'set'>

In [2]:
# not allow duplicataes
s={1,2,3,1,2,3}
print(s)

{1, 2, 3}

In [2]:
# construction
s=set([1,2,3])
print(s)

{1, 2, 3}

In [4]:
#accessing sets and also a unorder
a={'siva','chinna','rasul'}
for i in a:
    print(i)

chinna
rasul
siva

In [5]:
# checking
a={'siva','chinna','rasul'}
print('siva' in a)

True

In [6]:
# Once a set is created, you cannot change its items, but you can add new items.
# add set items
a={'siva','chinna','rasul'}
a.add('kavi')
print(a)

{'chinna', 'rasul', 'siva', 'kavi'}

In [7]:
# update
a={'siva','chinna','rasul'}
a.update(s)
print(a)

{1, 'rasul', 2, 'chinna', 'siva', 3}

In [9]:
# Note: Update function is not only consised with set obj but we can add any other data
# remove
a={'siva','chinna','rasul'}
a.remove('chinna')
print(a)

{'rasul', 'siva'}

In [12]:
# Note: If the item to remove does not exist, discard() will NOT raise an error.
a={'siva','chinna','rasul'}
a.discard('chinnas')
print(a)

{'chinna', 'rasul', 'siva'}

In [16]:
# you can also use the pop() method to remove an item, but this method will remove a random item, so you cannot be sure what item that gets removed.

# The return value of the pop() method is the removed item.
a={'mango','apple','cherry'}
a.pop()
print(a)

{'mango', 'apple'}

In [17]:
# clear
a={'mango','apple','cherry'}
a.clear()
print(a)

set()

In [18]:
# delete
s={1,2,3,4}
del s
print(s)

NameError: name 's' is not defined

In [19]:
# join
# update
set={'apple','banana','cherry'}
list=[1,2,3]
set.update(list)
print(set)

{1, 2, 3, 'apple', 'banana', 'cherry'}

In [37]:
# intersection update
set={'apple','banana','cherry',3}
list=[1,2,3]
set.intersection_update(list)
print(set)

{3}

In [36]:
# union
set={45,6,7,3}
list=[1,2,3]
set.union(list)
print(set)

{3, 45, 6, 7}

In [41]:
# intersection
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [42]:
# The symmetric_difference_update() method will keep only the elements that are NOT present in both setsr
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'cherry', 'microsoft', 'banana', 'google'}

In [43]:
# The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'cherry', 'microsoft', 'banana', 'google'}

# tuple

In [44]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [45]:
#access
thistuple = ("apple", "banana", "cherry","apple", "cherry")
print(thistuple[1])
print(thistuple[2:5])
print(thistuple[-1])
print(thistuple[:4])

banana
('cherry', 'apple', 'cherry')
cherry
('apple', 'banana', 'cherry', 'apple')

In [1]:
#type casting

thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(type(thistuple))
thislist = ["apple", "banana", "cherry"]
print(type(thislist))

newtuple = tuple(thislist)
print(type(newtuple))
newlist = list(thistuple)
print(type(newlist))
newlist

<class 'tuple'>
<class 'list'>
<class 'tuple'>
<class 'list'>

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [2]:
x = ("apple", "banana", "cherry")
y = list(x)
print(type(y))
y[1] = "kiwi"
x = tuple(y)

print(x)

<class 'list'>
('apple', 'kiwi', 'cherry')

In [3]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y # thistuple = thistuple + y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [4]:
# remove
thistuple = ("apple", "banana", "cherry","apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
thistuple

('banana', 'cherry', 'apple', 'banana', 'cherry')

In [5]:
# unpacking
bag = ("shoes", "clothes", "accesories")

(feet, body, neck) = bag

print(feet)
print(body)
print(neck)

shoes
clothes
accesories

In [13]:
thislist = ["shoes", "clothes", "accesories"]
v1 = thislist[0]
v2 = thislist[2]
print(v2)

accesories

In [12]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)
['mango', 'papaya', 'pineapple']

apple
['mango', 'papaya', 'pineapple']
cherry

['mango', 'papaya', 'pineapple']

In [10]:

fruits = ("apple", "banana", "cherry", "strawberry", "raspberry","cherry", "strawberry", "raspberry","cherry", "strawberry", "raspberry","cherry", "strawberry", "raspberry","cherry", "strawberry", "raspberry","cherry", "strawberry", "raspberry","cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(type(green))
print(yellow)
print(type(red))

apple
<class 'str'>
banana
<class 'list'>

In [9]:
# loop
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [8]:
for i in thistuple:
    print(i)

thistuple = ("apple", "banana", "cherry")
i = 0

while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

banana
cherry
apple
banana
cherry
apple
banana
cherry

In [7]:
# join

tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)
('a', 'b', 'c', 1, 2, 3)
# multiply
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('a', 'b', 'c', 1, 2, 3)
('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')