In [1]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.2.0-cp310-cp310-win_amd64.whl (14.2 MB)
     ---------------------------------------- 14.2/14.2 MB 3.9 MB/s eta 0:00:00
Collecting protobuf<=4.21.12,>=4.21.1
  Downloading protobuf-4.21.12-cp310-abi3-win_amd64.whl (527 kB)
     -------------------------------------- 527.0/527.0 kB 3.0 MB/s eta 0:00:00
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.2.0 protobuf-4.21.12
Note: you may need to restart the kernel to use updated packages.

In [2]:
import mysql.connector
connection=mysql.connector.connect(
host='localhost',
user='root',
password='root@123',
database='mitraz',
)
cursor=connection.cursor()
query="select * from custo"
cursor.execute(query)
results=cursor.fetchall()
for row in results:
    print(row)
cursor.close()
connection.close()

(1, 'siva', 22, 'ktc', Decimal('26000.00'), 'siva@123')
(2, 'kavi', 19, 'atp', Decimal('36000.00'), 'kavi@123')
(3, 'chinna', 23, 'ptp', Decimal('3600.00'), 'chinna@123')
(4, 'ravi', 15, 'ktm', Decimal('31000.00'), 'ravi@123')
(5, 'vishnu', 20, 'dmm', Decimal('3500.00'), 'vishnu@123')

In [11]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
     -------------------------------------- 44.8/44.8 kB 316.8 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0
Note: you may need to restart the kernel to use updated packages.

In [12]:
import warnings
warnings.filterwarnings("ignore")

In [15]:
import pymysql
import pandas as pd

In [17]:
conn=pymysql.connect(
host='localhost',
user='root',
password='root@123',
database='mitraz',
port=int(3306)
)
query="select*from custo"
df=pd.read_sql_query(query,conn)
df.head()

   id    name  p_age address   salary       email
0   1    siva     22     ktc  26000.0    siva@123
1   2    kavi     19     atp  36000.0    kavi@123
2   3  chinna     23     ptp   3600.0  chinna@123
3   4    ravi     15     ktm  31000.0    ravi@123
4   5  vishnu     20     dmm   3500.0  vishnu@123

In [13]:
try:
    a=int('hello')
    print(type(a))
except ValueError:
    print('ok')

ok

In [ ]:
try:
    # Code where you expect an exception might occur
    result = int("hello")  # This will raise a ValueError
    print(result)   # This line won't execute if an exception occurs
except ValueError as e:
    # Handle the specific exception that occurred
    print("Error:", e)
except Exception as e:
    # Handle other unexpected exceptions
    print("Unexpected error:", e)
finally:
    # This block always executes regardless of an exception
    print("Execution completed")

In [8]:
try:
    a=int('hi')
    print(a)
except Exception as e:
    print(" value error:",e)
except Exception as e:    
   print("Unexpected error:", e) 
finally:
    print('ok')

 value error: invalid literal for int() with base 10: 'hi'
ok

In [18]:
try:
    n=10
    for i in n:
        print(i)
except Exception as e:
    print(e)
except Exception as e:    
   print("Unexpected error:", e) 
finally:
    print('ok')

'int' object is not iterable
ok