In [9]:
import pandas as pd

In [13]:
d=pd.read_csv(r'C:\Users\asiva\Downloads\Unemployment in India.csv')

In [14]:
d.shape

(768, 7)

In [15]:
k=pd.DataFrame(d)
k

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Area
0,Andhra Pradesh,31-05-2019,Monthly,3.65,11999139.0,43.24,Rural
1,Andhra Pradesh,30-06-2019,Monthly,3.05,11755881.0,42.05,Rural
2,Andhra Pradesh,31-07-2019,Monthly,3.75,12086707.0,43.50,Rural
3,Andhra Pradesh,31-08-2019,Monthly,3.32,12285693.0,43.97,Rural
4,Andhra Pradesh,30-09-2019,Monthly,5.17,12256762.0,44.68,Rural
...,...,...,...,...,...,...,...
763,NaN,NaN,NaN,NaN,NaN,NaN,NaN
764,NaN,NaN,NaN,NaN,NaN,NaN,NaN
765,NaN,NaN,NaN,NaN,NaN,NaN,NaN
766,NaN,NaN,NaN,NaN,NaN,NaN,NaN
767,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
d.columns

Index(['Region', ' Date', ' Frequency', ' Estimated Unemployment Rate (%)',
       ' Estimated Employed', ' Estimated Labour Participation Rate (%)',
       'Area'],
      dtype='object')

In [17]:
d.loc[5]

Region                                      Andhra Pradesh
 Date                                           31-10-2019
 Frequency                                         Monthly
 Estimated Unemployment Rate (%)                      3.52
 Estimated Employed                             12017412.0
 Estimated Labour Participation Rate (%)             43.01
Area                                                 Rural
Name: 5, dtype: object

In [22]:
# check null
d.isnull().sum()

Region                                      28
 Date                                       28
 Frequency                                  28
 Estimated Unemployment Rate (%)            28
 Estimated Employed                         28
 Estimated Labour Participation Rate (%)    28
Area                                        28
dtype: int64

In [26]:
d['Region'].value_counts()

Andhra Pradesh      28
Kerala              28
West Bengal         28
Uttar Pradesh       28
Tripura             28
Telangana           28
Tamil Nadu          28
Rajasthan           28
Punjab              28
Odisha              28
Madhya Pradesh      28
Maharashtra         28
Karnataka           28
Jharkhand           28
Himachal Pradesh    28
Haryana             28
Gujarat             28
Delhi               28
Chhattisgarh        28
Bihar               28
Meghalaya           27
Uttarakhand         27
Assam               26
Puducherry          26
Goa                 24
Jammu & Kashmir     21
Sikkim              17
Chandigarh          12
Name: Region, dtype: int64

In [27]:
d['Region'].isnull().sum()

28

In [28]:
d['Region']=d['Region'].fillna(d['Region'].isnull().sum())

In [29]:
d['Region'].isnull().sum()

0

In [30]:
d.isnull().sum()

Region                                       0
 Date                                       28
 Frequency                                  28
 Estimated Unemployment Rate (%)            28
 Estimated Employed                         28
 Estimated Labour Participation Rate (%)    28
Area                                        28
dtype: int64

In [35]:
d[' Date'].isnull().sum()

28

In [36]:
d[' Date']=d[' Date'].fillna(d[' Date'].isnull().sum())

In [37]:
d[' Date'].isnull().sum()

0

In [38]:
d.isnull().sum()

Region                                       0
 Date                                        0
 Frequency                                  28
 Estimated Unemployment Rate (%)            28
 Estimated Employed                         28
 Estimated Labour Participation Rate (%)    28
Area                                        28
dtype: int64

In [39]:
d[' Frequency'].isnull().sum()

28

In [41]:
d[' Frequency']=d[' Frequency'].fillna(d[' Frequency'].isnull().sum())

In [42]:
d[' Estimated Unemployment Rate (%)']=d[' Estimated Unemployment Rate (%)'].fillna(d[' Estimated Unemployment Rate (%)'].isnull().sum())

In [71]:
d[' Estimated Employed']=d[' Estimated Employed'].fillna(d[' Estimated Employed'].isnull().sum())

In [45]:
d[' Estimated Labour Participation Rate (%)']=d[' Estimated Labour Participation Rate (%)'].fillna(d[' Estimated Labour Participation Rate (%)'].isnull().sum())

In [47]:
d['Area']=d['Area'].fillna(d['Area'].isnull().sum())

In [65]:
d.isnull().sum()

Region                                      0
 Date                                       0
 Frequency                                  0
 Estimated Unemployment Rate (%)            0
 Estimated Employed                         0
 Estimated Labour Participation Rate (%)    0
Area                                        0
dtype: int64

In [72]:
d[' Estimated Employed'].max()

45777509.0

In [73]:
l=d[' Estimated Employed'].min()
l

28.0

In [67]:
d[' Estimated Employed'].value_counts()

28.0         28
247210.0      1
233029.0      1
241366.0      1
246596.0      1
             ..
6021921.0     1
6395022.0     1
6164215.0     1
6189471.0     1
9088931.0     1
Name:  Estimated Employed, Length: 741, dtype: int64

In [61]:
d[' Estimated Employed'].isnull().sum()

0

In [80]:
d[' Estimated Employed']
d1

28.0         28
247210.0      1
233029.0      1
241366.0      1
246596.0      1
             ..
6021921.0     1
6395022.0     1
6164215.0     1
6189471.0     1
9088931.0     1
Name:  Estimated Employed, Length: 741, dtype: int64